<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/styles.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Lets Get This Bread</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="nav navbar flex-column col-lg-3 col-md-3 col-sm-12">
                <a class="nav-link" href="#white-bread">White Bread</a>
                <a class="nav-link" href="#banana-bread">Banana Bread</a>
                <a class="nav-link" href="#pretzel">Pretzel</a>
                <a class="nav-link" href="#rye-bread">Rye Bread</a>
                <a class="nav-link" href="#swiss-roll">Swiss Roll</a>
                <a class="nav-link" href="#bagel">Bagel</a>
                <a class="nav-link" href="#donut">Donut</a>
                <a class="nav-link" href="#croissant">Croissant</a>
                <a class="nav-link" href="#breadstick">Breadstick</a>
                <a class="nav-link" href="#pita">Pita</a>
            </nav>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="white-bread">
                        <img class="card-img-top" src="../public/imgs/white-bread.jpg" alt="White Bread">
                        <div class="card-body">
                            <h1 class="card-title">White Bread</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#white-bread-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="white-bread-joke" tabindex="-1" role="dialog" aria-labelledby="white-bread-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="white-bread-joke">Why are bread jokes always
                                                funny?
                                            </h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Because they never get mold!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="banana-bread">
                        <img class="card-img-top" src="../public/imgs/banana-bread.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Banana Bread</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#banana-bread-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="banana-bread-joke" tabindex="-1" role="dialog" aria-labelledby="banana-bread-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="banana-bread-joke">Why do people like banana
                                                bread?
                                            </h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Because they find it appealing!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="pretzel">
                        <img class="card-img-top" src="../public/imgs/pretzel.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Pretzel</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pretzel-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="pretzel-joke" tabindex="-1" role="dialog" aria-labelledby="pretzel-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="pretzel-joke">Why did the pretzel file a police
                                                report?</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            He was a-salted
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="rye-bread">
                        <img class="card-img-top" src="../public/imgs/rye-bread.jpg" alt="White Bread">
                        <div class="card-body">
                            <h1 class="card-title">Rye Bread</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rye-bread-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="rye-bread-joke" tabindex="-1" role="dialog" aria-labelledby="rye-bread-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="rye-bread-joke">What did the loaf of bread say
                                                to
                                                the
                                                police
                                                officer?</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Rye so serious!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="swiss-roll">
                        <img class="card-img-top" src="../public/imgs/swiss-roll.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Swiss Roll</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#swiss-roll-cheese">
                                Wanna hear some cheese?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="swiss-roll-cheese" tabindex="-1" role="dialog" aria-labelledby="swiss-roll-cheese"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="swiss-roll-cheese">Cheesin</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            I like the way you roll
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="bagel">
                        <img class="card-img-top" src="../public/imgs/bagels.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Bagels</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bagel-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="bagel-joke" tabindex="-1" role="dialog" aria-labelledby="bagel-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="bagel-joke">Why do seagulls fly over the sea?</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            If they flew over the bay, they would be bagels!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-lg-4 col-md-6 col-sm-12" id="donut">
                        <img class="card-img-top" src="../public/imgs/donut.jpg" alt="Donut">
                        <div class="card-body">
                            <h1 class="card-title">Donut</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donut-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="donut-joke" tabindex="-1" role="dialog" aria-labelledby="donut-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="donut-joke">What do you see when the Pillsbury
                                                Doughboy
                                                bends over?</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Doughnuts!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="croissant">
                        <img class="card-img-top" src="../public/imgs/croissant.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Croissant</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#croissant-joke">
                                Wanna hear a mood?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="croissant-joke" tabindex="-1" role="dialog" aria-labelledby="croissant-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="croissant-joke">Me: "I am still tired from all
                                                the
                                                CrossFit
                                                this morning."</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Co-worker: "it's pronounced 'Croissant' and you ate 4 of them."
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="breadstick">
                        <img class="card-img-top" src="../public/imgs/breadsticks.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Breadsticks</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#breadstick-joke">
                                Wanna hear a joke?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="breadstick-joke" tabindex="-1" role="dialog" aria-labelledby="breadstick-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="bread-stick-joke">What did the butter say to
                                                the
                                                bread
                                            </h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            I'm on a roll!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-6 col-sm-12" id="pita">
                        <img class="card-img-top" src="../public/imgs/pita.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h1 class="card-title">Pita</h1>
                        </div>
                        <div class="card-footer">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pita-joke">
                                Wanna hear a pun?
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="pita-joke" tabindex="-1" role="dialog" aria-labelledby="pita-joke"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="bread-stick-joke">I really like pita bread, in
                                                fact...
                                            </h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            It's second to Naan.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
            </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
            </script>
</body>

</html>